.catImagesPageContainer {
  display: flex;
  flex-direction: row;
  background-color: rgba(208, 192, 219, 0.764);
}

.CatContentContainer {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.catImagecontainer {
  width: 1300px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 40px;
  padding: 20px;
  align-items: center;
  justify-content: center;
}

.catImage {
  width: 250px;
  height: 250px;
}

.buttoncontainer {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
